<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
          <h1> 글쓰기 페이지</h1>
          <input type="text" class="ncname"><button type="button" onclick="nsetbcategory()">카테고리추가</button>
          <span class="ncategorybox"></span>
          <form>
            제목: <input type="text" class="ntitle">
            내용: <input type="text" class="ncontent">
            <button type="button" onclick="nwrite()">등록</button>
          </form>

          <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
          <script src="/js/board/nwrite.js"></script>
</body>
</html>